body{background:#e5e5e5;color:#333;font-family:"Lucida Grande", verdana, arial, helvetica, sans-serif;font-size:12px;margin:0 auto;padding:0;}

a.gray{color:#888;font-family:verdana,sans-serif;font-size:10px;padding:1px;}
a.blue{color:#0076CC;font-size:11px;font-weight:400;padding:1px;}
a.orange{color:red;font-family:verdana;font-size:11px;font-weight:400;padding:1px;}
a.cancel{color:red;font-size:12px;}
a.gray:hover,a.blue:hover,a.orange:hover{background:#303030;color:#FFF;text-decoration:none;}
a.orange:hover{background:red;}

#flash.success{background:#76B141;color:#FFF;font-size:13px;font-weight:700;margin-bottom:5px;margin-right:4px;padding:7px 8px;}
#flash.fail{color:#C00;font-size:14px;font-weight:700;margin-top:26px;}

span.dots,div.dots,#spinner{background:url(../images/dots-white.gif) no-repeat center;height:18px;width:21px;}
#spinner{margin:0 auto;}

div.button{overflow:hidden;}
div.button a{background:url(../images/button_left.gif) no-repeat 0 0;color:#303030;display:block;float:left;font-size:13px;font-weight:700;padding-left:16px;text-decoration:none;}
div.button span{background:url(../images/button_right.gif) no-repeat 100% 0;display:block;line-height:29px;padding:0 12px 3px 0;}

#products{background:#303030;height:22px;padding:0 25px;position:fixed;top:0;width:100%;z-index:10;}
#products a{color:#999;display:block;font-size:10px;margin:6px 5px;text-decoration:none;}
#products a.active{color:#DDD;}

#menu{background:#4D4D4D;border-bottom:18px solid #E5E5E5;height:38px;margin-bottom:12px;position:fixed;top:22px;width:100%;z-index:10;}
#menu.guest{top:0;}
#menu ul{border-bottom:7px solid #FF5754;line-height:30px;list-style:none;margin-top:8px;padding-left:31px;padding-right:14px;}
#menu ul li{display:inline;margin-right:-2px;}
#menu ul li a{background:#414141;border-top:1px solid #545454;color:#FFF;padding:4px 8px 7px;text-decoration:none;}
#menu ul li.active a,#menu ul li.active a:hover,#menu ul li a:hover{background:#FF5754;border-top:1px solid #FF8987;color:#EFEFEF;font-weight:700;}
#menu ul li a:hover{font-weight:400;}
#menu ul li.indent{margin-left:8px;}
#menu ul li.right{float:right;margin-left:4px;}
#menu ul li.nobg a{background:#4D4D4D;border-top:0;color:#918B7C;font-size:10px;text-decoration:underline;}

#left{background:#FFF;float:left;margin:78px 30px 30px;width:68%;}
#left.guest{margin-top:56px;}
#left.full{width:96%;}
#left.up{margin-top:13px;}

#left #main{background:#FFF url(../images/right-bg.gif) repeat-y right;padding:19px 30px 19px 19px;}
#left #main #transcripts div.transcript{border-bottom:10px solid #303030;margin-bottom:18px;padding-bottom:24px;}
#left #main #transcripts div.transcript p{margin-bottom:0;}
#left #main #transcripts h2{color:#303030;font-family:helvetica,arial,sans-serif;font-size:18px;font-weight:400;padding-bottom:10px;}
#left #main #transcripts h2 a{font-size:14px;}
#left #main #transcripts h2 a.gray{color:#999;float:right;font-family:helvetica,arial,sans-serif;font-size:11px;}
#left #main #transcripts span{color:#666;font-family:verdana;font-size:11px;}
#left #main p#history{color:#666;font-size:12px;margin:0 0 10px;padding:0;}
#left #empty{margin-top:30px;}
#left #empty h2 span{background:#FFC;font-size:16px;line-height:21px;}

#left table{border-collapse:collapse;width:100%;}
#left table#result{margin-bottom:15px;}
#left table#result td{background:#FFF;border-bottom:1px solid #EFEFEF;line-height:16px;padding:5px;}
#left table#result td.user{background-color:#EFEFEF;font-weight:700;text-align:right;vertical-align:top;white-space:nowrap;}
#left table#result td.body{border-left:1px solid #EFEFEF;width:731px;}
#left table#result td.our{background-color:#FFC;}
#left table#result td.room,#left table#result td.transcript{background-color:#E2EFFF;font-size:10px;line-height:14px;}
#left table#result td.lock,#left table#result td.guest{background-color:#FFA2A1;font-size:10px;line-height:14px;}
#left table#result td.topic{background-color:#FADDA5;font-size:10px;line-height:14px;}
#left table#result td.timestamp{background-color:#FFF;color:#888;font-size:9px;padding-top:10px;}
#left table#result td.user.timestamp{color:#333;}
#left table#result td div.highlight,#left table#result td div.star{display:block;float:right;height:17px;width:21px;}
#left table#result td div.highlight a{background:url(../images/star.png) no-repeat -200px;display:block;height:17px;}
#left table#result td div.highlight.on a:hover{background-position:left 1px;}
#left table#result td div.star a{background:url(../images/star.png) no-repeat;background-position:left -36px;display:block;height:17px;}
#left table#result a.file{display:block;float:left;height:14px;padding:2px;width:24px;}
#left table#result a.blue:hover{background-color:#303030;}
#left table#result a.youtube{background:url(../images/youtube_video.gif) no-repeat left;display:block;height:263px;}
#left table#result a.youtube img{width:320px;}
#left table#result div.image img{margin:5px 0 5px 2px;max-width:300px;width:auto;}
#left table#result pre{border-bottom:1px dotted #666;border-top:1px dotted #666;line-height:12px;margin:10px 20px 10px 0;overflow:auto;padding:10px;}
#left table#result pre code{font-family:monaco,courier,monospace;font-size:10px;white-space:pre-wrap;}

#left table#users tr,#left table#rooms tr{border-top:4px solid #FFF;}
#left table#users tr.even,#left table#rooms tr.odd{background:#EFF6FF;}
#left table#users th{background:#5E91CB;border-right:9px solid #FFF;color:#FFF;font-size:11px;font-weight:700;padding:5px 8px;text-align:left;}
#left table#users td{padding:5px 12px;}
#left table#users td.name{font-size:12px;font-weight:700;}
#left table#users td.permissions{color:#666;font-size:10px;padding:3px 3px 3px 10px;}
#left table#users td .right{float:right;margin-right:6px;width:21px;}

#left table#rooms{margin:0 0 30px;width:100%;}
#left table#rooms td.name a{font-size:14px;font-weight:700;margin-left:10px;}
#left table#rooms td{padding:3px 2px;vertical-align:middle;}
#left table#rooms td.name{line-height:18px;vertical-align:top;white-space:nowrap;width:20%;}
#left table#rooms td.actions{padding-right:10px;width:64px;}
#left table#rooms img{vertical-align:bottom;}

#left table#lobby{width:90%;}
#left #lobby tr{border-top:10px solid #FFF;}
#left #lobby td{padding:0 25px 10px 0;width:33%;}
#left #lobby td div.room{border-top:3px solid #303030;}
#left #lobby td div.room.locked{border-top:3px solid #999;}
#left #lobby td h2{margin-bottom:5px;margin-top:16px;}
#left #lobby td h2 a,#left #lobby td h2.locked{font-family:helvetica;font-size:24px;font-weight:700;letter-spacing:-1px;}
#lobby td h2.locked{color:#999;}
#left #lobby td span{color:#666;font-family:georgia;font-size:11px;font-style:italic;}
#left #lobby td span.green{color:green;font-weight:700;}
#left #lobby td p{margin-bottom:7px;}
#left #lobby td p.tiny{color:#666;font-size:10px;line-height:13px;margin:0;width:50%;}
#left #lobby ul.participants{border-top:1px dotted #DCDCDC;color:#333;padding-top:5px;}
#left #lobby ul.participants li{line-height:16px;}

#left #main h1{color:#303030;font-family:helvetica,arial,sans-serif;font-size:32px;margin:0 0 15px;padding:0 0 5px;}
#left #main h1.small{font-size:24px;}
#left #main h1 span.right{color:#CCC;float:right;font-family:"Lucida Grande", verdana, arial, helvetica, sans-serif;font-size:12px;font-weight:400;}
#left #main p{font-size:14px;line-height:20px;margin:10px 0 14px;width:80%;}
#left #main p.guest{color:#666;margin:0 0 10px;}
#left #main p.small{font-size:12px;line-height:17px;margin-bottom:6px;}
#left #main table.form{font-size:14px;margin-top:-5px;width:auto;}
#left #main table.form td{padding:0 10px 6px 0;}
#left #main table.form label{line-height:20px;margin-left:46px;}
#left #main table.form label.red{color:#C00;font-weight:700;}
#left #main table.form input{font-weight:700;padding:3px;width:300px;}
#left #main table.form textarea{font-size:14px;padding:3px;width:410px;}
#left #main form.form input.button{font-size:16px;}
#left #main div.green{background:#76B141;color:#FFF;float:left;font-size:24px;font-weight:700;line-height:32px;margin-right:10px;text-align:center;width:34px;}
#left #main #settings h2{background:#5E91CB;color:#FFF;font-family:helvetica;font-size:14px;margin-bottom:3px;padding:5px;width:100%;}
#left #main #settings p{font-size:12px;line-height:15px;margin:8px 0 10px 10px;width:100%;}


#left table#result td div.highlight a:hover,#left table#result td div.highlight.on a{background-position:left -36px;}
#left table#result a.doc,#right #fileListing li.doc{background:url(../images/files/doc.gif) no-repeat left;}
#left table#result a.gif,#right #fileListing li.gif{background:url(../images/files/gif.gif) no-repeat left;}
#left table#result a.htm,#right #fileListing li.htm{background:url(../images/files/htm.gif) no-repeat left;}
#left table#result a.html,#right #fileListing li.html{background:url(../images/files/html.gif) no-repeat left;}
#left table#result a.jpeg,#right #fileListing li.jpeg{background:url(../images/files/jpeg.gif) no-repeat left;}
#left table#result a.jpg,#right #fileListing li.jpg{background:url(../images/files/jpg.gif) no-repeat left;}
#left table#result a.pdf,#right #fileListing li.pdf{background:url(../images/files/pdf.gif) no-repeat left;}
#left table#result a.png,#right #fileListing li.png{background:url(../images/files/png.gif) no-repeat left;}
#left table#result a.psd,#right #fileListing li.psd{background:url(../images/files/psd.gif) no-repeat left;}
#left table#result a.txt,#right #fileListing li.txt{background:url(../images/files/txt.gif) no-repeat left;}
#left table#result a.xls,#right #fileListing li.xls{background:url(../images/files/xls.gif) no-repeat left;}
#left table#result a.zip,#right #fileListing li.zip{background:url(../images/files/zip.gif) no-repeat left;}
#left table#result a.generic,#right #fileListing li.generic{background:url(../images/files/generic.gif) no-repeat left;}
#left table#result a.blue,#left #main #settings p a,#left #main table#searchResults td a,#left #main p#adjacentTranscripts a,#left #main p.paginator a{font-size:12px;}

#left #main table#searchResults{width:97.5%;}
#left #main table#searchResults th{background:#303030;border-bottom:8px solid #FFF;border-right:9px solid #FFF;color:#FFF;font-size:11px;font-weight:700;padding:5px 8px;text-align:left;}
#left #main table#searchResults td{padding:5px 9px;white-space:nowrap;}
#left #main table#searchResults td.wrap{white-space:normal;}
#left #main table#searchResults td.right{font-weight:700;text-align:right;}
#left #main table#searchResults tr.even{background:#EDF3FE;}
#left #main table#searchResults div.image img{margin-top:5px;max-width:300px;width:auto;}

#left #createRoom{background:#F5F5F5;border:2px solid #CCC;margin-bottom:5px;padding:12px 10px;width:66%;}
#left #createRoom h2{color:#303030;font-size:16px;}
#left #createRoom div.left{float:left;position:relative;width:260px;}
#left #createRoom p{font-size:12px;line-height:16px;}
#left #createRoom form.form{margin-left:250px;}
#left #createRoom form.form label{display:block;font-size:13px;margin-bottom:4px;}
#left #createRoom form.form input{font-size:18px;padding:3px;width:95%;}
#left #createRoom form.form textarea{padding:3px;width:95%;}
#left #createRoom form.form input.button{color:#323232;font-size:14px;font-weight:400;width:auto;}

#left form#searchForm{background:#F0F0F0;border-bottom:1px solid #CCC;margin-bottom:18px;padding:10px;}
#left form#searchForm input{font-size:20px;}
#left form#searchForm input#q{padding:1px;width:350px;}
#left #search h1 span{color:#CCC;font-size:14px;}
#left #search h1 a{font-family:helvetica,arial,sans-serif;font-size:14px;}
#left #search form input#q{background:#FF9;}
#left #search h2{font-family:helvetica;font-size:18px;margin-bottom:20px;}

#left #main p#adjacentTranscripts{color:#999;font-size:12px;margin:0 0 15px;}
#left #main p.paginator{font-size:12px;margin-bottom:20px;}
#left #main div.files a{line-height:20px;}
#left #main div.files img{margin-left:100px;padding-top:5px;vertical-align:text-bottom;}

#left #main div.starred,#left #main div.files{border-top:1px solid #CCC;margin-top:10px;}
#left #main div.starred h3,#left #main div.files h3{color:#999;font-size:12px;font-weight:400;padding-top:8px;position:absolute;}
#left #main div.starred table{margin-left:100px;margin-top:5px;width:91%;}
#left #main div.starred table tr{border-top:1px solid #EEE;line-height:20px;}
#left #main div.starred table tr.first{border-top:0;}
#left #main div.starred td.star span{background:url(../images/star.png) no-repeat left -36px;display:block;height:17px;text-indent:-6666em;width:21px;}
#left #main div.starred td.person{color:#666;font-size:11px;padding-right:10px;vertical-align:middle;white-space:nowrap;}
#left #main div.starred td.body{color:#666;font-size:11px;vertical-align:middle;width:100%;}

#left div.bottom{background:#E5E5E5 url(../images/bottom-bg.gif) no-repeat top right;display:block;line-height:7px;padding-bottom:52px;}

#right{position:fixed;right:20px;top:75px;width:27%;}
#right.guest{top:53px;}
#right h1{color:#303030;font-family:helvetica,arial,sans-serif;font-size:24px;letter-spacing:-1px;margin-bottom:5px;margin-top:4px;}
#right h2{background-color:#F5F5F5;border-bottom:1px solid #DCDCDC;font-size:12px;height:18px;line-height:18px;margin:12px 0 6px;padding:2px 5px;}
#right h2 a{float:right;line-height:15px;}
#right h2 span{color:#999;float:right;font-size:11px;font-weight:400;line-height:15px;margin:0 4px;}
#right h2 em{font-style:normal;}
#right h3{color:#303030;margin-bottom:2px;margin-top:10px;}
#right h4{color:#333;font-size:11px;font-weight:400;margin-bottom:5px;}
#right p{font-size:11px;line-height:14px;margin-bottom:15px;}
#right ul{font-size:11px;line-height:15px;list-style:disc;margin-bottom:15px;padding-left:25px;}
#right ul#participants{height:105px;list-style:none;overflow:auto;padding-left:0;}
#right ul#participants li{font-size:11px;margin-bottom:2px;padding-left:5px;}
#right #sound{float:right;margin-top:5px;}
#right #editTopicForm textarea{display:block;height:40px;margin-bottom:3px;width:225px;}
#right p#lockMessage{background:#FFA2A1;color:#303030;font-size:10px;margin-top:20px;padding:3px 6px;}
#right p#lockMessage strong{color:#C00;}
#right div.guest h2{background:#FFA2A1;border:0;color:#303030;line-height:16px;margin-bottom:0;}
#right div.guest h3{background:#FDE7DD;border-bottom:1px solid #FFA2A1;color:#303030;font-size:10px;font-weight:400;line-height:14px;margin-top:0;padding:3px 5px;}
#right div.guest p{color:#333;font-size:10px;line-height:13px;margin:5px 0 3px;padding-left:5px;}
#right #fileUpload p{color:#666;font-size:10px;margin:0 0 5px 5px;}
#right #fileUpload span{color:#666;font-size:11px;}
#right #fileUpload input{font-size:12px;margin-bottom:5px;}
#right #fileUpload iframe{border:0 solid #fff;height:0;width:0;}
#right ul#fileListing{list-style-type:none;padding-left:5px;}
#right #fileListing li{line-height:20px;padding-left:28px;}
#right #fileListing li a{font-size:13px;}
#right #searchForm{margin-top:20px;}
#right #searchForm input#q{width:263px;}

#footer{background:transparent url(../images/speak-bg.png) repeat-x top;bottom:0;padding:20px 51px 0;position:fixed;}
#footer textarea{float:left;height:50px;margin-bottom:17px;width:668px;}
#footer input{float:left;margin-left:11px;}

#center{color:#303030;margin:60px auto 0;width:700px;}
#center.small{width:600px;}
#center.tiny{margin-top:38px;width:486px;}
#center #wrapper{background:#EDF3FE url(../images/right-bg.gif) repeat-y right;padding-right:8px;}
#center h1{background:#FFC;border-bottom:1px solid #E4E4B8;color:#222;font-size:16px;padding:20px 24px;}
#center.tiny h1{background:#EDF3FE;border:none;color:#303030;font-size:18px;line-height:25px;padding:18px 80px 15px 60px;}
#center #main{padding:12px 24px 32px;}
#center p{font-size:14px;line-height:20px;margin-bottom:24px;}
#center.small p{color:#333;margin-bottom:16px;}
#center.tiny p{color:#303030;font-size:12px;line-height:17px;padding:8px 50px 0 36px;}
#center form.form label{display:block;font-size:14px;font-weight:700;margin-bottom:2px;margin-top:10px;}
#center form.form input{font-size:16px;font-weight:700;padding:3px;width:300px;}
#center form.form input.button{color:#303030;font-weight:400;margin-top:30px;width:auto;}
#center form.form span{color:#999;display:block;font-size:11px;margin:6px 0;}
#center form.form div.field{padding:6px 8px;}
#center form.form div.green{background:url(../images/icon_success.png) no-repeat 330px 36px;}
#center form.form div.red{-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;background:#FEDFE7 url(../images/icon_fail.png) no-repeat 330px 36px;}
#center div.bottom{background:#E5E5E5 url(../images/bottom-bg.gif) no-repeat top right;display:block;line-height:7px;}
#center form.permission{font-size:14px;line-height:20px;margin:0 30px;}
#center form.permission label{display:inline;}
#center form.permission input.button{font-size:16px;margin-top:30px;}

#modal{background:#FFF;border:10px solid #CCC;margin:28px auto 0;padding:15px 20px 0;width:610px;}
#modal h1{color:#C00;font-size:20px;margin:13px 0;}
#modal p{line-height:16px;margin:12px 0;}

a.cancel:hover,#center form.form div.red label,#center form.form div.red span{color:red;}
#products a:hover,#left #main #transcripts h2 a.gray:hover{color:#FFF;}

#left #main #transcripts h1,#left #search h1{font-size:26px;}

#left #main form.form div.step,#left #createRoom form.form div.field{margin-bottom:16px;}
#left #main form.form span,#modal span{color:#666;}
#left table#users td.permissions a,#left #lobby td p.tiny a{font-size:10px;}
#left #settings,#left #main div.starred td.star{padding-right:10px;}
#left table#rooms td.description,#right #editTopicForm span{font-size:11px;}
#left #main table#searchResults th.blank,#center.tiny #main{background:#FFF;}